<nav class="navbar navbar-expand-md navbar-dark custom-nav fixed-bottom m-3">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarBottom">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="btnLogout" onclick="logout();"><i class="bi bi-house-heart-fill me-1"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-balloon-heart  me-1"></i> Favicon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-calendar2-heart-fill me-1"></i> Calendar</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand bg-purple btn-circle" style="padding: 2px;" href="#"><i class="bi bi-arrow-bar-up"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="content overflow-hidden mb-3">
  <section class="overflow-hidden mb-4">
    <div class="temporizador-container">
      <div class="temporizador-item">
        <span id="months">00</span>
        <p>Meses</p>
      </div>
      <div class="temporizador-item">
        <span id="weeks">00</span>
        <p>Semanas</p>
      </div>
      <div class="temporizador-item">
        <span id="days">00</span>
        <p>Días</p>
      </div>
      <div class="temporizador-item">
        <span id="hours">00</span>
        <p>Horas</p>
      </div>
      <div class="temporizador-item">
        <span id="minutes">00</span>
        <p>Minutos</p>
      </div>
      <div class="temporizador-item">
        <span id="seconds">00</span>
        <p>Segundos</p>
      </div>
    </div>  
    
    <div class="music-player-container d-none">
      <div class="title-music-container">
        <h4 class="song-title">Father</h4>
        <span class="song-author">Diamond Eyes</span>
      </div>
      <div class="controls-music-container">
        <div class="progress-song-container">
          <div class="progress-bar">
            <span class="progress"></span>
          </div>
        </div>
        <div class="time-container">
          <span class="time-left" id="CurrentSongTime"></span>
          <span class="time-left" id="SongLength"></span>
        </div>
      </div>
      <audio controls preload="metadata" src="dist/audio/Thinking_Out_Loud.mp3"></audio>
      <div class="main-song-controls">
        <img src="lib/musicPlayer/Backward.svg" alt="" class="icon" id="Back10">
        <img src="lib/musicPlayer/Play.svg" alt="" class="icon" id="PlayPause">
        <img src="lib/musicPlayer/Forward.svg" alt="" class="icon" id="Plus10">
      </div>
    </div>
  </section>
 
  <section class="overflow-hidden mb-4">
    <h2 class="text-center" data-aos="zoom-in-down">Titulo de la sección</h2>
    <div class="row g-3">
      <div class="col-md-4 col-sm-6" data-aos="zoom-in-right" data-aos-duration="1000">
        <div class="card card-body overflow-hidden  bg-purple d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
          <div class="w-100 text-end d-md-none">
            <button type="button" class="btn btn-circle btn-info"><i class="bi bi-eye"></i></button>
          </div>

          <div class="overlay">
            <h4>Título</h4>
            <p>Descripción</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6"
        data-aos="fade-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1500"
      >
        <div class="card card-body overflow-hidden bg-purple d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>

          <div class="overlay">
            <h4>Título</h4>
            <p>Descripción</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-in-right" data-aos-duration="1800">
        <div class="card card-body overflow-hidden bg-purple d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>

          <div class="overlay">
            <h4>Título</h4>
            <p>Descripción</p>
          </div>
        </div>
      </div>
    </div> <!-- End row -->
  </section>

  <section class="overflow-hidden mb-4">
    <h2 class="text-center">Titulo de la sección</h2>
    <div class="row g-3">
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body overflow-hidden bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>

          <div class="overlay">
            <h4>Título</h4>
            <p>Descripción</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-aos="zoom-out-left" >
        <div class="card card-body bg-fuchsia-neon d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-chat-heart-fill icon-card"></i>
          <h4 class="fw-bold">Titulo de prueba</h4>
          <p class="w-100 h-25 truncate-wrap line-clamp-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias sapiente ab possimus harum quis hic inventore voluptatem laudantium illo fugit autem alias unde, quia non quasi nisi nam excepturi quidem perspiciatis corrupti delectus. Voluptatibus id doloribus nostrum veritatis nemo repellendus illum, pariatur incidunt ea soluta suscipit eligendi optio odit dolorem.
          </p>
        </div>
      </div>

    </div> <!-- End row -->
  </section>

</div>