<nav class="navbar navbar-expand-md navbar-dark custom-nav fixed-bottom m-3">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarBottom">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="btnLogout" onclick="logout();"><i class="bi bi-house-heart-fill me-1"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-balloon-heart  me-1"></i> Favicon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-calendar2-heart-fill me-1"></i> Calendar</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand btn-custom" href="#"><i class="bi bi-arrow-bar-up me-1"></i> Subir</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="content mb-3">
  <section class="mb-3">
    <h3 class="title text-center">Titulo de la sección</h3>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="card card-body bg-purple">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex ipsum rerum nulla nihil fugit quae aliquid deleniti itaque beatae recusandae repellat tempora minus a accusamus doloremque doloribus unde at omnis, neque amet sed pariatur. Illum molestias dicta facilis mollitia. Perspiciatis molestiae vitae veniam doloremque repellendus vero nulla obcaecati porro officiis impedit, rem necessitatibus nobis, aliquam incidunt aperiam nesciunt omnis odit eos sint debitis itaque voluptates quisquam? Quae itaque a neque molestias, aliquam sequi libero totam dignissimos, nihil quas reprehenderit incidunt vel assumenda nulla rerum consectetur sit eveniet maiores porro? Sequi similique id fugiat aliquam ratione iusto error eius placeat.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-body bg-purple">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex ipsum rerum nulla nihil fugit quae aliquid deleniti itaque beatae recusandae repellat tempora minus a accusamus doloremque doloribus unde at omnis, neque amet sed pariatur. Illum molestias dicta facilis mollitia. Perspiciatis molestiae vitae veniam doloremque repellendus vero nulla obcaecati porro officiis impedit, rem necessitatibus nobis, aliquam incidunt aperiam nesciunt omnis odit eos sint debitis itaque voluptates quisquam? Quae itaque a neque molestias, aliquam sequi libero totam dignissimos, nihil quas reprehenderit incidunt vel assumenda nulla rerum consectetur sit eveniet maiores porro? Sequi similique id fugiat aliquam ratione iusto error eius placeat.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-body bg-purple">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex ipsum rerum nulla nihil fugit quae aliquid deleniti itaque beatae recusandae repellat tempora minus a accusamus doloremque doloribus unde at omnis, neque amet sed pariatur. Illum molestias dicta facilis mollitia. Perspiciatis molestiae vitae veniam doloremque repellendus vero nulla obcaecati porro officiis impedit, rem necessitatibus nobis, aliquam incidunt aperiam nesciunt omnis odit eos sint debitis itaque voluptates quisquam? Quae itaque a neque molestias, aliquam sequi libero totam dignissimos, nihil quas reprehenderit incidunt vel assumenda nulla rerum consectetur sit eveniet maiores porro? Sequi similique id fugiat aliquam ratione iusto error eius placeat.
          </p>
        </div>
      </div>
    </div> <!-- End row -->
  </section>

  <section class="mb-3">
    <h3 class="title text-center">Titulo de la sección</h3>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="card card-body bg-fuchsia-neon">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex ipsum rerum nulla nihil fugit quae aliquid deleniti itaque beatae recusandae repellat tempora minus a accusamus doloremque doloribus unde at omnis, neque amet sed pariatur. Illum molestias dicta facilis mollitia. Perspiciatis molestiae vitae veniam doloremque repellendus vero nulla obcaecati porro officiis impedit, rem necessitatibus nobis, aliquam incidunt aperiam nesciunt omnis odit eos sint debitis itaque voluptates quisquam? Quae itaque a neque molestias, aliquam sequi libero totam dignissimos, nihil quas reprehenderit incidunt vel assumenda nulla rerum consectetur sit eveniet maiores porro? Sequi similique id fugiat aliquam ratione iusto error eius placeat.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-body bg-fuchsia-neon">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex ipsum rerum nulla nihil fugit quae aliquid deleniti itaque beatae recusandae repellat tempora minus a accusamus doloremque doloribus unde at omnis, neque amet sed pariatur. Illum molestias dicta facilis mollitia. Perspiciatis molestiae vitae veniam doloremque repellendus vero nulla obcaecati porro officiis impedit, rem necessitatibus nobis, aliquam incidunt aperiam nesciunt omnis odit eos sint debitis itaque voluptates quisquam? Quae itaque a neque molestias, aliquam sequi libero totam dignissimos, nihil quas reprehenderit incidunt vel assumenda nulla rerum consectetur sit eveniet maiores porro? Sequi similique id fugiat aliquam ratione iusto error eius placeat.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-body bg-fuchsia-neon">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex ipsum rerum nulla nihil fugit quae aliquid deleniti itaque beatae recusandae repellat tempora minus a accusamus doloremque doloribus unde at omnis, neque amet sed pariatur. Illum molestias dicta facilis mollitia. Perspiciatis molestiae vitae veniam doloremque repellendus vero nulla obcaecati porro officiis impedit, rem necessitatibus nobis, aliquam incidunt aperiam nesciunt omnis odit eos sint debitis itaque voluptates quisquam? Quae itaque a neque molestias, aliquam sequi libero totam dignissimos, nihil quas reprehenderit incidunt vel assumenda nulla rerum consectetur sit eveniet maiores porro? Sequi similique id fugiat aliquam ratione iusto error eius placeat.
          </p>
        </div>
      </div>
    </div> <!-- End row -->
  </section>

</div>
